
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
  body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  }
  /* nav styles */
  .nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

  }
  .third{
    align-items: center;
  }
  .nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    width: 86.041px;
    height: 40px;
}
.text-logo{
    font-size: 45px;
    font-weight: 700;
  }
  .pink{
    color:  #FF42A5;
  }
  .nav-list ul{
    display: flex;
    align-items:center ;
    list-style: none;
    gap: 24px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
  }
  .box-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

  }
  .youtube{
    width: 33.916px;
    height: 28px;
  }
  .tictok{
    width: 28px;
    height: 28px;

  }
  /* banner styles */
  .banner-container{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    background-color: #FFF;
  }
  .banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  .banner-goat{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    margin-top: 0px;

  }
  .banner-discription{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;


  }
  .botom{
    height: 60px;
    width: 165px;
    border: 0px;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
  }
  .bottom-go{
    height: 60px;
    width: 185px;
    border: 0px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
  }

  /* we are gamer */
  
  .gamer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  }
  .gamer-text{
    text-align: right;
    padding-right: 110px;
  }
  .gmaer-title{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
  }
  .discription{
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
  }
  .our{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
  }
  .everyone{
    color: #534C64;
    font-weight: 700;
    font-size: 30px;
  }
  /* card styles */
  .card{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 48px;
    margin-bottom: 120px;
  }
  .card-img{
    width: 340px;
    height: 400px;
  }
  .third-section{
    text-align: center;
  }
  .card-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 10px;
  }


  /* horse section */
  .horse-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
  }
  .text-itm{
    text-align: right;
  }
  .tom img{
    position: relative;
    bottom: 280px;
    right: 120px;
  }

  /* cats styles */
  .cat-container{
    display: flex;
    justify-content:space-around;
    
  }
  .cat-img{
    position: relative;
    bottom: 280px;
    left: 490px;
  }

  /* kids styles */
  .kids{
    display: flex;
    justify-content: center;
    background-color: #FF42A5;
    align-items: center;
  }
  .game{
    color: #FFF;
  }
  .exparts{
    display: flex;
    justify-content: space-between;
  }
.skills{
    list-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

  .location{
    text-align: right;
    list-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
  }
  .see{
    height: 65px;
    width: 275px;
    background-color: #FFF;
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600; 
  }

/* games name */


  .games-list{
    display: flex;
    justify-content: center;
  }
 .all-game{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 80px;
  border-radius: 48px;
  gap: 10px;
}
.names{
  color: #0B0223;
  font-size: 20px;
  font-weight: 600;
}
.names:hover{
  color: #FF42A5;
}
.all-game:hover{
  border: 4px solid #FF42A5;
}
.second{
  margin-top: 20px;
}
.last-section{
  margin-top: 130px;
  margin-bottom: 130px;
}
/* footer list */

.footer-container{ 
  text-align: center;
  background-color: #0B0223;
  padding-top: 120px;
  padding-bottom: 120px;
}
.amer{
  color: #FFF;
}
.footer-list{
  display: flex;
  justify-content: center;
  color: #FFF;
  gap: 60px;
  list-style: none;
}
.all-icon{
display: flex;
justify-content: center;
list-style: none;
gap: 20px;
}
.icon{
  width: 40px;
  height: 40px;
}
.last-footer{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 60px;
}

.final{
  text-align: center;
}


